<html>
<head>
<link href="/js/dependencies/pnotify.custom.min.css" rel="stylesheet">
<link href="/js/dependencies/caisse.css" rel="stylesheet">
<link href="/js/dependencies/jquery-ui/jquery-ui.css" rel="stylesheet">
<script type="text/javascript" data-main="/js/dependencies/require.main.js"  src="/js/dependencies/require.js"></script>

<script>
 require(['jquery','jquery-ui','pnotify'], function () {
 	//$( "#dialog" ).dialog();
    

  } );
  
 </script>
</head>
<body>

<div id="dvHeader" title="Basic dialog">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>
<div id="dvMenu">Menu</div>

<div id="dvContent" tom="lechat">

le content



</div>

<div id="dvFooter">
footer
</div>


</body>

</html>